<p id="notice"><%= notice %></p>

<h1>Menu Groups</h1>
    <% @menu_groups.each do |menu_group| %>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= menu_group.name %>
        </div>
        <div class="panel-body">
          <p><%= menu_group.description %> <%= link_to 'Show', menu_group %> | <%= link_to 'Edit', edit_menu_group_path(menu_group) %> | <%= link_to 'Destroy', menu_group, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <hr>
        </div>
        <!-- <div class="panel-footer">
          Panel Footer
        </div> -->
      </div>
    <% end %>

<br>

<%= link_to 'New Menu Group', new_menu_group_path %>
