
<%= link_to 'New Order', new_order_path %>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Active</a></li>
  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Paid</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
    <% @unpaid_order.each do |order| %>
    <h2>Order <%= order.id %></h2>
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Item description</th>
          <th>Item price</th>
        </tr>
      </thead>

      <tbody>
          <% order.order_list.each do |item| %>
        <tr>
          <td><%= item["name"] %></td>
          <td><%= item["description"] %></td>
          <td> <%= item["price"] %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane" id="profile">
    <% @paid_order.each do |order| %>
    <h2>Order <%= order.id %></h2>
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Item description</th>
          <th>Item price</th>
        </tr>
      </thead>

      <tbody>
          <% order.order_list.each do |item| %>
        <tr>
          <td><%= item["name"] %></td>
          <td><%= item["description"] %></td>
          <td> <%= item["price"] %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<script>
  $('nav-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
  })
</script>
