<%= form_tag order_path(@order), :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil%>
  </p>
<% end %>

user id <%= @order.user_id %> <br>
table number<%= @order.table_number %> <br> <br>

order <% @order.order_list.each do |item| %>
    name <%= item["name"] %> <br>
    description <%= item["description"] %> <br>
    price <%= item["price"] %> <br>
<% end %>

<%= @order.find_total %>

<%= params[:search] %>
